* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.azul, .siames {
	display: flex;
	justify-content: center; 
	padding: 2%;
}

.gatito {
		border-bottom: 2px solid #000033;

}

.azul img, .siames img {
	border-radius: 100%;
}

.articulos {
	background-color: darkgrey; 
	border: 2px solid #000033;
	border-radius: 10px;
	margin-top: 1%;
	margin-bottom: 1%;
}

.headerfluid {
	background: grey;
}

body {
	background-image: url(../images/pattern.png);
/*	background: rgba(11,18,48,1);
	background: -moz-linear-gradient(45deg, rgba(11,18,48,1) 0%, rgba(28,28,28,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(11,18,48,1)), color-stop(100%, rgba(28,28,28,1)));
	background: -webkit-linear-gradient(45deg, rgba(11,18,48,1) 0%, rgba(28,28,28,1) 100%);
	background: -o-linear-gradient(45deg, rgba(11,18,48,1) 0%, rgba(28,28,28,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(11,18,48,1) 0%, rgba(28,28,28,1) 100%);
	background: linear-gradient(45deg, rgba(11,18,48,1) 0%, rgba(28,28,28,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b1230', endColorstr='#1c1c1c', GradientType=1 );*/
}

footer {
	height: 50px;
	background-color: black;
	color: white;
	text-align: center; 
	padding: 10px;
	margin-top: 1%;
}

h2, h1, label{
	color: white;
}

form {
	margin-top: 1%;
}

.cateyes {
	display: flex;
	justify-content: center; 
}

.logo img {
	height: 90%;
	width: auto; 
}

.icono img {
	width: 5%;
	height: auto;
	margin-left: 1%;
}

.barber img {
	width: 20%;
	height: auto;
	margin-top: -5%;
}

.title h1 {
	font-family: 'Cookie';
	font-size: 80px;
	margin-top: -5%;
}

.formulario {	
	background: rgba(0,0,0,0.5); 
	border-radius: 10px;
}

form {
	margin: 1%;
}
.slider img {
	width: 100%;
	height: auto;
}

.hipster img {
	width: 5%;
	height: auto;
}

.hipster1 img, .hipster2 img {
	border-radius: 100%;
	height: 80%;
	width: auto;
	margin-top: 10%;
}

.hipster1, .hipster2 {
	height: 300px;
	display: flex;
	justify-content: center; 

}

.menu {
	margin-top: 0.5%;
}

.boton { 
	margin-left: 1%;
	margin-bottom: 1%; 
}